/* Body Background */
body {
    background-color: #ced4d8;
}
/*  */
h1 {
    background-color: #ac6ac7;
}
h2 {
    color: rgb(255,165,0);
}
li {
    color: blue; 
}
p {
    background-color: gold;
}
input {
    border: 5px dotted pink;
}
.first {
    background-color: #fff; 
}
#important {
    border: 3px dashed #0000FF;
}
div > p {
        font-size: 30px;
}
input[type="email"] {
        background-color:#808080;
    }
div:nth-of-type(3) > p {
    background-color: hotpink;
}
div:nth-of-type(3) p:nth-child(3) {
    border: 7px solid rgb(255, 255, 255);
}
div:nth-of-type(3) p:nth-child(2) em:nth-child(1) {
    color: seashell;
    font-size: 25px;
}
/* Bonus */
/* 1 */
input[type="checkbox"]:checked {
    margin-left: 40px;
}

/* 2 */
label {
    text-transform: uppercase;
}

/* 3 */
#important::first-letter {
    color: lime; 
    font-size: 90px;
}

/* 4 */
h1:hover {
    color: navy;
}

/* 5 */
a:visited {
    color: silver;
}